# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: 6 - Official Build and Deploy

on:
   workflow_dispatch: 
   workflow_call:

jobs:
  build_and_deploy:
    runs-on: windows-latest
    permissions:
      id-token: write
      contents: read 

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Download published artifact
        uses: actions/download-artifact@v4
        with:
          name: published-app
          path: ./published-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_583376DC62764731AE567F6964ECEA24 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_743A7117D2DE41688E844C9DA38FF3C8 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_FD39B493ED6642A7B5761706D814F812 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'BPCalculator'
          slot-name: 'Production'
          package: './published-app'

          










